@use '../../styles/mixins'
@use '../../styles/variables'

#bannerBody
  position: relative
  padding-block: 100px 0
  
  .imageBanner
    min-width: 370px
    max-width: 1300px
    position: relative

    img
      width: 100%

    .textBanner
      color: variables.$grayColor-300
      font-size: 5vw
      font-family: 'Pacifico', cursive
      margin-left: variables.$spacing-lg
      width: 80%
      position: absolute
      top: 40%
      transform: translateY(-30%)

      @include mixins.xl
        font-size: 54px

    span
      margin-left: 10%
      font-family: 'Pacifico', cursive
