@use '../../styles/variables'

#advantages
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr))
  gap: 1rem
  max-width: 1100px
  margin: auto

  .advantage
    display: flex
    align-items: center
    background: variables.$grayColor-300
    max-width: 340px
    padding: 10px 12px
    border-radius: 10px

    svg
      font-size: 32px
      margin-right: 10px
      color: variables.$grayColor-400

    .text
      display: grid
      gap: 4px

      h4
        font-size: 16px

      p
        font-size: 14px
