@use '../../../styles/variables'

.btnForm
  font-size: 18px
  color: variables.$grayColor-200
  background: variables.$mainColor-300
  width: 100%
  max-width: 360px
  padding: 12px
  border: none
  border-radius: 6px


